@include font-face("GeorgiaItalic", "../fonts/GeorgiaItalic/GeorgiaItalic");
@include font-face("HelveticaNeueCyr-Bold", "../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold");
@include font-face("MuseoSansRegular", "../fonts/MuseoSansRegular/MuseoSansRegular");

/*@font-face {
  font-family: 'icomoon';
  src: url('../fonts/iconmoon/fonts/icomoon.eot?6e29zo');
  src: url('../fonts/iconmoon/fonts/icomoon.eot?6e29zo#iefix') format('embedded-opentype'), url('../fonts/iconmoon/fonts/icomoon.ttf?6e29zo') format('truetype'), url('../fonts/iconmoon/fonts/icomoon.woff?6e29zo') format('woff'), url('../fonts/iconmoon/fonts/icomoon.svg?6e29zo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
