@import "../../../bourbon/bourbon";
@import "../sass/partials/fonts";
//@import "../sass/partials/iconmoon";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../sass/partials/variables";
@import "../sass/partials/mixins";
//@import "../sass/partials/icons";

body {
  margin: 0;
  margin-bottom: 200px;
  color: $text-color;
  background: $body-bg;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title {
  @include museosansregular;
  font-size: 35px;
  font-weight: normal;
  color: $title-color;

  &.title_small {
    font-size: 26px;
  }
}
