//grid
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//text colors
$text-color: #3d4350;
$title-color: #564e68;
$text-gray: #676d7b;


//bg colors
$white: #fff;
$black: #000;
$blue : #19a0ea;
$body-bg: #B5B9C2;

//border



